* {
  margin: 0;
}

.App {
  background-color: #fafafa;
  height: 100vh;
}

.app_posts {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.app__postsRight {
  margin-left: 20px;
}

.app__haeder {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  -o-object-fit: contain;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
}

.app__signup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.app__headerImage {
  -o-object-fit: contain;
  object-fit: contain;
}
